* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

body {
  font-family: "Lato", sans-serif;
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
  }
}
.container section {
  flex-basis: 50%;
}
@import "info";
@import "form";
@import "media";
